<div class="dropstart dropup list-form">
  <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  </button>
  <ul class="dropdown-menu form-style">
    <%= simple_form_for([user_vinyl, @collections_vinyl]) do |f| %>
      <%=f.input :collection_id, as: :radio_buttons, collection: @collections_select, label: ""%>
      <%= f.submit class: "form-style btn btn-info", value: "Valider"%>
    <% end %>

  </ul>
</div>
