.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 130px;
  font-family: 'Lobster', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 40px;
}

.banner p {
  font-size: 30px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
