// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// .card-component {
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   color: white;
// }
.vinyl_image {
width: 250px;
height: 250px;

}

.selected{
  border-color: brown;
}

.card-title{
  font-size: 16px;
  font-weight: 700;
}

.description{
  font-size: 14px;
  font-weight: 40;
}
